# H0 ARM64 virt board only. This is not a Samsung replacement kernel.
CONFIG_64BIT=y
CONFIG_ARM64=y
CONFIG_ARCH_VIRT=y
CONFIG_SMP=y
CONFIG_NR_CPUS=4
CONFIG_HZ_100=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_RD_GZIP=y
CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_PRINTK=y
CONFIG_BUG=y
CONFIG_FUTEX=y
CONFIG_EPOLL=y
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y
CONFIG_EVENTFD=y
CONFIG_AIO=y
CONFIG_ADVISE_SYSCALLS=y
CONFIG_POSIX_TIMERS=y
CONFIG_KALLSYMS=y
CONFIG_MULTIUSER=y
CONFIG_BASE_FULL=y
CONFIG_FILE_LOCKING=y
CONFIG_SYSCTL=y
CONFIG_PROC_SYSCTL=y
CONFIG_PRINTK_TIME=y
CONFIG_BLOCK=y
CONFIG_SHMEM=y
CONFIG_SWAP=y
CONFIG_NAMESPACES=y
CONFIG_UTS_NS=y
CONFIG_NET_NS=y
CONFIG_CGROUPS=y
CONFIG_MEMCG=y
CONFIG_SECCOMP=y
CONFIG_SECCOMP_FILTER=y
CONFIG_NET=y
CONFIG_UNIX=y
CONFIG_PACKET=y
CONFIG_INET=y
CONFIG_IPV6=y
CONFIG_NETDEVICES=y
CONFIG_NET_CORE=y
CONFIG_VIRTIO_MENU=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_MMIO=y
CONFIG_BLK_DEV=y
CONFIG_VIRTIO_BLK=y
CONFIG_TTY=y
CONFIG_UNIX98_PTYS=y
CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y
CONFIG_ARM_GIC=y
CONFIG_ARM_GIC_V3=y
CONFIG_ARM_PSCI_FW=y
CONFIG_ARM_ARCH_TIMER=y
CONFIG_EXT4_FS=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_EXT4_FS_SECURITY=y
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_TMPFS=y
CONFIG_INOTIFY_USER=y
CONFIG_SECURITY=y
CONFIG_SECURITY_NETWORK=y
CONFIG_SECURITY_SELINUX=y
CONFIG_SECURITY_SELINUX_DEVELOP=y
CONFIG_DEFAULT_SECURITY_SELINUX=y
CONFIG_LSM="selinux"
CONFIG_AUDIT=y
CONFIG_CRYPTO=y
CONFIG_CRYPTO_SHA256=y
CONFIG_HW_RANDOM=y
CONFIG_HW_RANDOM_VIRTIO=y
CONFIG_RTC_CLASS=y
CONFIG_RTC_HCTOSYS=y
CONFIG_RTC_DRV_PL031=y
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
# Mirror the retained FYG8 userspace-relevant omissions.
# CONFIG_SYSVIPC is not set
# CONFIG_POSIX_MQUEUE is not set
# CONFIG_DEVTMPFS is not set
# CONFIG_FHANDLE is not set
# CONFIG_PID_NS is not set
# CONFIG_USER_NS is not set
# CONFIG_CGROUP_PIDS is not set
# CONFIG_UEVENT_HELPER is not set
# CONFIG_VT is not set
# CONFIG_TMPFS_XATTR is not set
# CONFIG_TMPFS_POSIX_ACL is not set
# CONFIG_FANOTIFY is not set
# CONFIG_SECURITY_SELINUX_BOOTPARAM is not set
# CONFIG_SECURITY_SELINUX_DISABLE is not set
